.indicator-time
	span 12:05
		.vert-line
#show-calendar-mobile
	.arrow.arrow-left
	span.table-date 15 января Сегодня
	.arrow.arrow-right
#page-schedule.container-schedule
	table.schedule
		colgroup
			col.schedule-first-col(span='1')
			col(span='1', width='50%')
			col(span='16', width='100%')
		thead
			tr
				th.th-date-container
					.hidden-mobile
						.calendar-wrap
							.calendar
								.week-days
									div
										span Пн
									div
										span Пн
									div
										span Пн
									div
										span Пн
									div
										span Пн
									div
										span Пн
									div
										span Пн
								.week
									div
										span 1
									div
										span 2
									div
										span 3
									div
										span 4
									div
										span 5
									div
										span 6
									div
										span 7
								.week
									div
										span 1
									div
										span 2
									div
										span 3
									div
										span 4
									div
										span 5
									div
										span 6
									div
										span 7
								.week
									div
										span 1
									div
										span 2
									div
										span 3
									div
										span 4
									div
										span 5
									div
										span 6
									div
										span 7
								.week
									div
										span 1
									div
										span 2
									div
										span 3
									div
										span 4
									div
										span 5
									div
										span 6
									div
										span 7
								.week
									div
										span 1
									div
										span 2
									div
										span 3
									div
										span 4
									div
										span 5
									div
										span 6
									div
										span 7
						.arrow.arrow-left
						span.table-date 14 дек. Сегодня
						.arrow.arrow-right
				th
				th
					span.hour.disabled 8:00
				th
					span.hour.disabled 9
				th
					span.hour.disabled 10
				th
					span.hour 11
				th
					span.hour 12
				th
					span.hour 13
				th
					span.hour 14
				th
					span.hour 15
				th
					span.hour 16
				th
					span.hour 17
				th
					span.hour 18
				th
					span.hour 19
				th
					span.hour 20
				th
					span.hour 21
				th
					span.hour 22
				th
					span.hour 23
		tbody
			tr
				td.floor
					span.title 7 ЭТАЖ
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
			tr
				td.room
					span.title Ржавый Фред
					span.desc 3-6 человек
				td
				td
					.schedule-busy(style='width: 100%;')
				td
					.schedule-free(style='width:50%;', data-act='show-edit-meet')
					.schedule-busy(style='width:50%;')
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
			tr
				td.room
					span.title Прачечная
					span.title-mobile Прачечная
					span.desc до 10 человек
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
			tr
				td.room
					span.title Жёлтый дом
					span.desc до 10 человек
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
			tr
				td.room.disabled
					span.title Оранжевый тюльпан
					span.desc до 10 человек
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
			tr
				td.floor
					span.title 6 этаж
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
			tr
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
				td
