@media screen and (max-width: 650px) {
  .header {
    height: 48px;
  }

  #show-calendar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    top: 48px;
    border-bottom: 1px solid #E9ECEF;

    z-index: 20;
  }

  .logo {
    height: 20.9px;
  }

  .hidden-mobile {
    display: none;
  }

  table.schedule {
    width: auto;
    overflow-x: auto;
    table-layout: auto;
  }

  table.schedule td,
  table.schedule th {
    min-width: 65px
  }

  .schedule-first-col {
    min-width: 181px;
  }

  table.schedule tr th:first-child {
    min-width: 181px;
  }

  table.schedule tr td:first-child {
    padding-left: 25px;
    width: 181px;
  }

  .container-schedule {
    overflow-x: auto;
    padding-top: 104px;
  }

  .title-mobile {
    position: absolute;
    left: 100%;
    padding: 0px 8px;
    height: 24px;
    font-size: 11px;
    color: #858E98;
    letter-spacing: 0.4px;
    background: #FFFFFF;
    box-shadow: 0 1px 8px 0 rgba(0, 44, 92, 0.28);
    border-radius: 4px;
    display: table-cell;
    vertical-align: middle;
    line-height: 24px;

  }

  .block-2col-big {
    width: 100%;
    padding-top: 31px;
  }

  .modal {
    padding-left: 16px;
    padding-right: 24px;
    width: 100%;
    bottom: 24px;
    left: 0;
    top: auto;
    transform: none;
  }

  .to-align-blocks-centr {
    padding-right: 16px;
    padding-left: 16px;
  }

  .to-align-blocks-centr.mobile {
    display: block;
    padding-right: 16px;
    padding-left: 16px;
  }

  .flex-block-col {
    flex-direction: column;
  }

  .calendar-wrap {
    position: absolute;
    width: 100%;
    height: 380px;
    padding: 16px;
    background: #FFFFFF;
    box-shadow: 0 1px 8px 0 rgba(0, 44, 92, 0.28);
    border-radius: 4px;
    top: 30px;
    margin-left: -16px;
  }

}